h1 {
			color: green;
			font-size: 40px;
		}

		h2 {
			color: yellow;
			font-size: 40px;
		}

		h3 {
			color: orange;
			font-size: 40px;
		}
        
        li:nth-child(even) { /* Selects only even elements */

            color: violet;  
        } 
        li:nth-child(odd) { /* Selects only even elements */

            color: red; 
	    }
